.App {
  display: flex;
  font-family:'Raleway', sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  /*background-color: #333;
  overflow: hidden;
  text-align: left;
  display: flex;
  align-self: center; */
  font-family:'Raleway', sans-serif;
  position: relative;
  background-color: rgb(31, 71, 63);
  text-align: left;
  margin: 8px;
  border-radius: 8px;
}

.navbar li {
  display: inline-block;
  padding: 8px 16px;
  width: fit-content;
}

.navbar a {
  /* color: white;
  text-align: center;
  text-decoration: none; */
  border: solid 1px rgb(255, 255, 255);
  width: 8em;
  display:inline-block;
  text-decoration: none;
  padding: 0.5em 2em 0.5em 2em;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  transition: color ease-out cubic-bezier(0.42, 0, 0.58, 1) font-weight ease-out cubic-bezier(0.42, 0, 0.58, 1) background-color ease-out cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration: 0.5s;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li:hover{
  color: white;
  /* background-color: black; */
  font-weight: bold;
  border-radius: 8px;
}